* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4CAF50;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    padding-top: 50px; /* Espaço para o cabeçalho fixo */
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1.5em 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
}

nav {
    text-align: center;
    background-color: #333;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 9;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #575757;
    color: #fff;
}

section {
    padding: 80px 20px;
    margin-top: 60px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 0.9em;
}

/* Adicionando uma sombra suave no header e rodapé */
header, footer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para links dentro de seções */
section a {
    color: #4CAF50;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}
.container {
    background-color: #08a343;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(rgb(88, 190, 105));
    max-width: 500px;
    margin: 0 auto;
}
h1 {
    color: #0056b3;
    text-align: center;
    margin-bottom: 30px;
}
label {
    display: inline;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px thick #ddd;
    border-radius: 4px;
    box-sizing: border-box; 

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flow-root;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}